
.nav-section{
    margin-top: 10px;
    margin-right: 10px;
}
.user-menu{
    display: block;
}

.login-homepage {
    background: #EEEFF3;
  }
  
  .login-homepage .login-content {
    background: #d3d4d8;
    border-radius: 4px;
    margin-top: 30%;
    margin-bottom: 10%;
  }
  
  .login-homepage .login-content h1 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
  }
  .login-content .main_logo{
      padding-top: 20px;
  }
  .login-homepage .login-content p {
    text-align: center;
    font-size: 16px;
  }
  
  .login-homepage .login-content form {
    text-align: center;
  }
  
  .login-homepage .login-content form .user-name {
    width: 360px;
    margin: 10px 0;
    padding: 10px 10px;
    border-radius: 4px;
    border: none;
  }
  
  .login-homepage .login-content form .user-name:focus {
    outline: none;
  }
  
  .login-homepage .login-content form .password {
    width: 360px;
    margin: 10px 0;
    padding: 10px 10px;
    border-radius: 4px;
    border: none;
  }
  
  .login-homepage .login-content form .password:focus {
    outline: none;
  }
  
  .login-homepage .login-content .space1 {
    width: 100px;
    height: 2px;
    background: transparent;
    display: inline-block;
  }
  
  .login-homepage .login-content .forgot-password {
    text-decoration: none;
  }
  
  .login-homepage .login-content .forgot-password:hover {
    text-decoration: underline;
  }
  
  .login-homepage .login-content .login-btn {
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 400;
    width: 250px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid black;
    margin: 40px 0;
    display: inline-block;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .login-homepage .login-content .login-btn:hover {
    color: white;
    background-color: #1B5E20;
    border: 1px solid #1B5E20;
  }
  
  .login-homepage .login-content .singup-content {
    padding-bottom: 50px;
    display: block;
  }
  
  .login-homepage .login-content .singup-content .singup {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #1B5E20;
  }
  
  .login-homepage .login-content .singup-content .singup:hover {
    color: #43A047;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .login-homepage {
    background: #EEEFF3;
  }
  
  .login-homepage .login-content {
    background: #d3d4d8;
    border-radius: 4px;
    margin-top: 30%;
    margin-bottom: 10%;
  }
  
  .login-homepage .login-content p {
    text-align: center;
    font-size: 16px;
  }
  
  .login-homepage .login-content form {
    text-align: center;
  }
  
  .login-homepage .login-content form .fast-name {
    width: 218px;
    margin: 10px 0;
    padding: 10px 10px;
    border-radius: 4px;
    border: none;
  }
  
  .login-homepage .login-content form .fast-name:focus {
    border: none;
  }
  
  .login-homepage .login-content form .last-name {
    width: 218px;
    margin: 10px 0;
    padding: 10px 10px;
    border-radius: 4px;
    border: none;
  }
  
  .login-homepage .login-content form .last-name:focus {
    border: none;
    outline: none;
  }
  
  .login-homepage .login-content form .singup-password {
    width: 440px;
    margin: 10px 0;
    padding: 10px 10px;
    border-radius: 4px;
    border: none;
  }
  
  .login-homepage .login-content .space1 {
    width: 100px;
    height: 2px;
    background: transparent;
    display: inline-block;
  }
  
  .login-homepage .login-content .forgot-password {
    text-decoration: none;
  }
  
  .login-homepage .login-content .forgot-password:hover {
    text-decoration: underline;
  }
  
  .login-homepage .login-content .singup-btn {
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 400;
    width: 250px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid black;
    margin: 40px 0;
    display: inline-block;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .login-homepage .login-content .singup-btn:hover {
    color: white;
    background-color: #1B5E20;
    border: 1px solid #1B5E20;
  }
  
  .login-homepage .login-content .singup-content {
    padding-bottom: 50px;
    display: block;
  }
  
  .login-homepage .login-content .singup-content .login {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #1B5E20;
  }
  
  .login-homepage .login-content .singup-content .login:hover {
    color: #43A047;
  }